*{
    margin: 0;
    padding: 0;
    
}
.title{
    margin: 2rem;
    margin-left: 110px;
    margin-bottom:10px ;
    text-align: center;
    width: 180px;
    color: blue;
    border: solid black 2px;
}
.title1{
    margin-left: 122px;
}
input[type="button"]{
    background-color:rgb(82, 14, 73);
    color: white;
    border: 2px solid black;
    width: 100%;
}
input[type="text"]{
    background-color: white;
    border: 2px solid black;
    width: 100%;

}